body {
    background: #37424a;
    color: #e2e3e5;
    font-family: Arial, sans-serif;

}

.header {
    background-color: white!important;
}

.svg_nav_icon{
    transform: scale(5);
}

.settings_modal {
    height: 50%;
    width: 80%;
    background-color: #37424a;
    position: absolute;
    top: 50%;
    left: 50%;,
    transform: translate(-50%, -50%);
}

.light .MuiInputBase-input-206 {
    border-radius: 4px !important;
    border-color: white !important;
    background-color: white !important;
}


.light .MuiInputLabel-outlined-175.MuiInputLabel-shrink-172 {
    color: white !important;
    transform: translate(14px, -13px) scale(0.75) !important;
}

.light label {
    color: black !important;
}

.light .MuiInputBase-input-206 MuiOutlinedInput-input-191 {
    color: black !important;
}

.light .MuiInputBase-input-206 {
    color: black !important;
}

.light fieldset {
    border: none !important;
}