/*
    A css file containing default styles for default components, e.g. for text, headings etc
 */

/*
    global variables (within this file)
 */
:root {
    --font-family: Arial, sans-serif;
    --font-weight: normal;
}

body {
    background: #37424a;
    color: #e2e3e5;
    font-family: Arial, sans-serif;

}

a {
    outline : none;
}

a img {
    outline : none;
}


.header {
    background-color: white !important;
}

.svg_nav_icon {
    transform: scale(5);
}

.settings_modal {
    height: 50%;
    width: 80%;
    background-color: #37424a;
    position: absolute;
    top: 50%;
    left: 50%;,
transform: translate(- 50 %, - 50 %);
}

.light .MuiInputBase-input-206 {
    border-radius: 4px !important;
    border-color: white !important;
    background-color: white !important;
}

.light .MuiInputLabel-outlined-175.MuiInputLabel-shrink-172 {
    color: white !important;
    transform: translate(14px, -13px) scale(0.75) !important;
}

.light label {
    color: #37424a !important;
}

.light .MuiInputBase-input-206 MuiOutlinedInput-input-191  {
    color: #37424a !important;
}

.light .MuiInputBase-input-206 {
    color: #37424a !important;
}

.light fieldset {
    border: none !important;
}

.light .MuiNotchedOutline-error-216 {
    background-color: rgba(256, 51, 77, .4) !important;
}

.not_found_text {
    font-weight: normal;
    font-size: 2vmax;
    margin: 0;
    text-align: center;
    color: #ffffff;
}

.not_found_text_yellow_big {
    font-weight: bold;
    margin: 0;
    font-size: 8vmax;
    text-align: center;
    color: #ffd200;
}

.not_found_text_yellow {
    font-weight: bold;
    margin: 0;
    font-size: 2vmax;
    text-align: center;
    color: #ffd200;
}

.not_found_container {
    width: 80%;
}

.not_found_icon {
    font-size: 20vmax !important;
    color: #ffd200;
}

.h1Style {
    font-family: Arial, serif;
    font-weight: normal;
    font-size: 7vmin;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
}

.h1Style_secondary {
    font-family: Arial, serif;
    font-weight: normal;
    font-size: 8vmin;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;
    color: #ffd200;
}

.h1Style_secondary_big {
    font-family: Arial, serif;
    font-weight: normal;
    font-size: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;
    color: #ffd200;
}

.QR_code {
    max-width: 15vmax;
    max-height: 15vmax;
}

.payment_title {
    color: #37424a;
}

.loading_container {
    margin-top: 2em;
}

.payment_button_icon {
    color: white;
    font-size: 2.5rem !important;
}

.payment_nav_button {
    background-color: #ffd200 !important;
}

.payment_nav_button_disabled {
    background-color: #37424a !important;
}

.payment_nav_button_text {
    text-align: center;
    font-weight: 600;
    color: #37424a;
    font-size: 1.1em;
    margin: 5px;
}

.payment_nav_button_text_disabled {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 1.1em;
    margin: 5px;
}

.payment_check_mark {
    color: #4CBB17 !important;
    font-size: 2em !important;
}

.payment_list {
    color: #37424a;
}

.payment_CVV_container {
    width: 50% !important;
}

.payment_help_container {
    width: 20% !important;
}

.day_input .MuiNotchedOutline-root-272 {
    border-radius: 0 4px 4px 0 !important;
}

.month_input .MuiNotchedOutline-root-272 {
    border-radius: 4px 0 0 4px !important;
    border-width: 1px 0 1px 1px;
}

/*
    <h1>, <h2>, <h3>, <h4>
 */
h1.cdp, h2.cdp, h3.cdp, h4.cdp {
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 0;
    text-align: center;
    text-transform: none;
}

h1.cdp_primary, h2.cdp_primary, h3.cdp_primary, h4.cdp_primary {
    color: white;
}

h1.cdp_secondary, h2.cdp_secondary, h3.cdp_secondary, h4.cdp_secondary {
    color: #ffd200;
}

h1.cdp {
    font-size: 8vmin;
}

h2.cdp {
    font-size: 7vmin;
}

h3.cdp {
    font-size: 4vmin;
}

h4.cdp {
    font-size: 70px;
}

/*
    text
 */
.cdp_white {
    color: white;
}

.cdp_black {
    color: black;
}

.cdp_yellow {
    color: #ffd200;
}

.cdp_dark_grey {
    color: #37424a;
}

.cdp_light_grey {
    color: #e2e3e5;
}

.cdp_category_sub_selection {
    font-size: 3.5vmin;
    margin-left: -2px;
}

.cdp_category_sub_selection_only_title {
    font-size: 3.5vmin;
}

.cdp_sub_sub_title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.7vmin;
    color:#888888;
    font-weight: bold;
}

.cdp_sub_info {
    font-size: 2vmin;
}


span.cdp_icon_round_label {
    font-size: 1.5em;
    font-weight: 100;
}

.add_remove_icon{
    font-size: 1.2em !important;

}

.add_unit_icon {
    font-size: 3vmin !important;

}

.cdp_button_round {
    height: 3.7em !important;
    width: 3.7em !important;
    vertical-align: middle;
    box-shadow: 0 0px !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.cdp_button_round_decrement {
    height: 3.7em !important;
    width: 3.7em !important;
    background-color: white !important;
    color: #37424a !important;
    box-shadow: 0 0px !important;
    border: 1px #37424a solid !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.cdp_button_round:hover {
    transition: all 300ms ease-in-out;
    background-color: #ffd200 !important;
    color: #37424a !important;
}

.cdp_button_round_decrement:hover {
    transition: all 300ms ease-in-out;
    background-color: #ffd200 !important;
    border: none !important;
    color: #37424a !important;
}

.goods_container {
    margin-left: 2em;
    margin-right: 2em;
}

.cdp_input_field {
    margin: 8px !important;
}


/*
    icons
 */
img.icon_xs {
    width: 11vmin;
}

img.icon_sm {
    width: 5.5em;
}

img.icon_md {
    width: 120px;
}

img.icon_lg {
    width: 140px;
}

img.icon_xl {
    width: 120px;
}

img.cdp_icon_item {
    width: 40px;
    height: 40px;
}

/*
    material ui elements
 */
div.cdp_paper_category_sub_selection {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div.cdp_sub_selection_max_width_grid_item {
    max-width: 80em;
}

.cdp_tooltip {
    size: 5em;
}

.cdp_sub_paper_hover > .MuiPaper-root-14:hover {
    transition: all 300ms ease-in-out;
    background-color: #ffd200;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.2),
    7px 7px 9px 0px rgba(0, 0, 0, 0.14),
    9px 9px 12px -4px rgba(0, 0, 0, 0.12);
}

.category_button:hover {
    transition: all 300ms ease-in-out;
    background-color: #ffd200 !important;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.2),
    7px 7px 9px 0px rgba(0, 0, 0, 0.14),
    9px 9px 12px -4px rgba(0, 0, 0, 0.12);
}



/*
    custom components that are used in multiple other components
 */
.cdp_img_badge {
    margin: 20px 16px 8px 8px;
}

.modal {
    display: block;
    overflow: auto;
    max-width: 40%;
    max-height: 80% !important;
    padding-right: 2vmax;
    padding-left: 2vmax;
    padding-bottom: 3vmax;
    background-color: #e2e3e5;
    color: #37424a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_title {
    padding: 0;
    margin-bottom: 10px;
}

.flag_img {
    min-height: 9vmin;
    min-width: 9vmin;
}

.flag_name {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
}

.flag_button {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 2px #7d8f9e;
    -moz-box-shadow: inset 0 0 2px #7d8f9e;
    box-shadow: inset 0 0 2px #7d8f9e;
}

.flag_container {
    height: auto;
    width: auto;
    min-width: 5vmax;
    min-height: 5vmax;
}

.save_btn {
    background-color: #37424a !important;
    color: #ffd200 !important;
}

.payment_container {
    margin: 10%;
}

.payment_content_container {
    min-width: 20em;
}

.MuiGrid-container-45.MuiGrid-spacing-xs-32-70{
    width: 100% !important;
}

/* ---- sm ---- */
@media only screen and (max-width: 959px) {
    h1.cdp {
        font-size: 6vmin;
    }

    h2.cdp {
        font-size: 5vmin;
    }

    h3.cdp {
        font-size: 4.5vmin;
    }

    h4.cdp {
        font-size: 50px;
    }

    img.icon_xs {
        width: 10vmin;
    }

    img.icon_sm {
        width: 4.5em;
    }

    img.icon_md {
        width: 100px;
    }

    img.icon_lg {
        width: 120px;
    }

    img.icon_xl {
        width: 90px;
    }

    span.cdp_category_sub_selection {
        font-size: 3.5vmin;
    }

    .cdp_sub_sub_title {
        font-size: 2vmin;
    }

    .cdp_sub_info {
        font-size: 2.3vmin;
    }

    .modal {
        max-width: 70%;
        width:70%;
    }

    .flag_img {
        min-height: 8vmax;
        min-width: 8vmax;
    }

    .category_button {
        height: 50vw;
        width: 50vw;
    }

    div.cdp_sub_selection_max_width_grid_item {
        max-width: 60em;
    }

    span.cdp_icon_round_label {
        font-size: 2.3vw;
    }

    .add_remove_icon{
        font-size: 1.8vw !important;

    }

    .cdp_button_round {
        height: 5.5vmin !important;
        width: 5.5vmin !important;
        min-width: 5.5vmin !important;
        min-height: 5.5vmin !important;

    }

    .cdp_button_round_decrement {
        height: 5.5vmin !important;
        width: 5.5vmin !important;
        min-width: 5.5vmin !important;
        min-height: 5.5vmin !important;
    }

    .MuiInputBase-input-211 {
        font-size: 11px !important;
    }

}

/* ---- xs ---- */
@media only screen and (max-width: 599px) {
    h1.cdp {
        font-size: 7vmin;
    }

    h2.cdp {
        font-size: 6vmin;
    }

    h3.cdp {
        font-size: 4.5vmin;
    }

    h4.cdp {
        font-size: 40px;
    }

    img.icon_xs {
        width: 15vmin;
    }

    img.icon_sm {
        width: 3em;
    }

    img.icon_md {
        width: 60px;
    }

    img.icon_lg {
        width: 70px;
    }

    img.icon_xl {
        width: 60px;
    }

    span.cdp_category_sub_selection {
        font-size: 5.2vmin;
    }

    .cdp_sub_sub_title {
        font-size: 2.9vmin;
    }

    .cdp_sub_info {
        font-size: 4vmin;
    }

    .category_button {
        height: 30vw;
        width: 30vw;
    }

    .payment_container {
        margin-top: 30%;
    }

    .modal {
        max-width: 80%;
        width: 80%;
    }

    span.cdp_icon_round_label {
        font-size: 2.2vmax;
    }

    .add_remove_icon{
        font-size: 1.7vmax !important;

    }

    .cdp_button_round {
        height: 5.4vmax !important;
        width: 5.4vmax !important;
    }

    .cdp_button_round_decrement {
        height: 5.4vmax !important;
        width: 5.4vmax !important;
    }

    .MuiInputBase-input-211 {
        font-size: 14px !important;

    }

    .add_unit_icon {
        font-size: 5vmin !important;
    }
}


