/*
    A css file containing default styles for default components, e.g. for text, headings etc
 */

/*
    global variables (within this file)
 */
:root {
  --font-family: Arial, sans-serif;
  --font-weight: normal;
}

/*
    <h1>, <h2>, <h3>, <h4>
 */
h1.cdp, h2.cdp, h3.cdp, h4.cdp {
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 0;
    text-align: center;
}

h1.cdp_primary, h2.cdp_primary, h3.cdp_primary, h4.cdp_primary {
    color: white;
}

h1.cdp_secondary, h2.cdp_secondary, h3.cdp_secondary, h4.cdp_secondary {
    color: #ffd200;
}

h1.cdp {
    font-size: 5vw;
}

h2.cdp {
    font-size: 4vw;
}

h3.cdp {
    font-size: 3vw;
}

h4.cdp {
    font-size: 2vw;
}



/*
    icons
 */
img.icon_xs {
    width: 80px;
}
img.icon_sm {
    width: 100px;
}
img.icon_md {
    width: 120px;
}
img.icon_lg {
    width: 140px;
}
img.icon_xl {
    width: 160px;
}

@media only screen and (max-width: 1919px) {
    /* lg */

}

@media only screen and (max-width: 1279px) {
    /* md */
    img.icon_xs {
        width: 60px;
    }
    img.icon_sm {
        width: 80px;
    }
    img.icon_md {
        width: 100px;
    }
    img.icon_lg {
        width: 120px;
    }
    img.icon_xl {
        width: 140px;
    }
}

@media only screen and (max-width: 959px) {
    /* sm */
    img.icon_xs {
        width: 60px;
    }
    img.icon_sm {
        width: 80px;
    }
    img.icon_md {
        width: 100px;
    }
    img.icon_lg {
        width: 120px;
    }
    img.icon_xl {
        width: 140px;
    }
}

@media only screen and (max-width: 599px) {
    /* xs */
    img.icon_xs {
        width: 40px;
    }
    img.icon_sm {
        width: 50px;
    }
    img.icon_md {
        width: 60px;
    }
    img.icon_lg {
        width: 70px;
    }
    img.icon_xl {
        width: 80px;
    }
}
